<?xml version="1.0" encoding="UTF-8"?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.serwis.samochodowy">
	<name>Serwis samochodowy C-LINK</name>
	<description>Aplikacja do kontaktu z serwisem samochodowym</description>
	<author> Dariusz Gaik | Daniel ¯urek </author>
	<feature name="http://api.phonegap.com/1.0/network" />
	<plugin name="cordova-plugin-console"  source="npm" />
	<plugin name="cordova-plugin-device"  source="npm" />
	<plugin name="cordova-plugin-network-information"  source="npm" />
	<plugin name="cordova-plugin-vibration"  source="npm" />
	<plugin name="cordova-plugin-whitelist"  source="npm" />
	<preference name="phonegap-version" value="cli-6.5.0" />
	<preference name="orientation" value="portrait" />
	<preference name="android-minSdkVersion" value="19" />
	<preference name="android-installLocation" value="auto" />
	<platform name="android">
	</platform>
	 <icon src="icon.png" />
	<access origin="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
	<allow-navigation href="http://*/*" />
	<allow-navigation href="https://*/*" />
</widget>